.env
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 가상환경
venv/

# 환경 변수/설정
.env
.env.*

# IDE/에디터
.vscode/
.idea/
*.swp

# 기타
.DS_Store
/db/sql/SQL_Check.sql
# /db/sql/CreateTable.sql
# /db/sql/app_roles_and_privileges.sql
/db/sql/TestData.sql
DB_Report.md
FastAPI.md
